@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-brand-black antialiased selection:bg-brand-black selection:text-white font-sans;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* iOS & Mobile Safe Area Utilities */
.pt-safe-top {
  padding-top: max(env(safe-area-inset-top, 0px), 6px);
}

.safe-area-inset-bottom {
  padding-bottom: calc(0.25rem + env(safe-area-inset-bottom, 0px));
}

.pb-safe {
  padding-bottom: calc(5rem + env(safe-area-inset-bottom, 0px));
}

